# Copy this file to `.env` and update values.

DEBUG=True
SECRET_KEY=change-this-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost

# Optional: comma-separated origins
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,http://127.0.0.1:8000

# Password reset email settings
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@heal-delight.local
